@using TomsApp.Components.Pages
@inherits LayoutComponentBase


<MudThemeProvider IsDarkMode=@_isDarkMode />
<MudDialogProvider />
<MudSnackbarProvider />

<MudMainContent>
	<MudAppBar>
		<MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
			<MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@toggle" />
			<MudFileUpload Style="margin-top: 0" T="IBrowserFile" Accept=".json" Context="fileInput"> @* put back in HTML when service is sorted FilesChanged="UploadFiles" *@
				<ButtonTemplate>
					<MudIconButton HtmlTag="label"
								   Icon="@Icons.Material.Filled.Upload"
								   Variant="Variant.Filled"
								   for="@fileInput">
					</MudIconButton>
				</ButtonTemplate>
			</MudFileUpload>
			<MudIconButton Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" /> @* put back in HTML when service is sorted OnClick="@(() => ExportCharacterAsync())" *@
		</MudButtonGroup>
	</MudAppBar>
	<MudDrawer @bind-Open="@_open" Style="position:fixed;">
		<MudText Typo="Typo.h4">Gaia Complex</MudText>
		<MudDrawerHeader Style="display:flex">
			<CharacterList />
		</MudDrawerHeader>
		<MudIconButton Icon="@(_isDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)" Color="Color.Primary" OnClick="darkModeToggle" />
	</MudDrawer>
	@Body
</MudMainContent>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
